.card{
    margin: 20px auto !important;
}
.img-hold{
    display: flex;
    flex-direction: row;
    height: 150px;

}
.item-img{
    position: relative;
    height: 150px;
}
.item-img img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
    height: 150px !important;
    max-height: 150px;
}
.meta{
    margin: 10px 0;
}